In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

from scipy.stats import linregress
from pprint import pprint

In [5]:
cities_pd = pd.read_csv("../data/emission_population_data.csv", encoding="ISO-8859-1" )

cities_pd.head()

,City_State,City,State,population2010,population2011,population2012,population2013,population2014,population2015,population2016,population2017,emissions2010,emissions2011,emissions2012,emissions2013,emissions2014,emissions2015,emissions2016,emissions2017
0,"New York City , New York",New York,NY,8175133,8272948,8346693,8396091,8433806,8463049,8469153,8437478,1.145691e+10,1.025721e+10,9.592850e+09,9.491282e+09,9.690876e+09,1.029665e+10,1.171019e+10,1.304532e+10
1,"Los Angeles , California",Los Angeles,CA,3792621,3820876,3851202,3881622,3909901,3938568,3963226,3975788,1.633195e+10,1.497791e+10,1.413437e+10,1.361190e+10,1.446255e+10,1.549449e+10,1.732829e+10,1.907875e+10
2,"Chicago , Illinois",Chicago,IL,2695598,2708114,2719141,2725731,2727066,2724344,2716723,2711069,6.498994e+09,6.246525e+09,6.146778e+09,6.242132e+09,6.294254e+09,6.580447e+09,7.064306e+09,7.767246e+09
3,"Houston , Texas",Houston,TX,2099451,2126032,2161593,2199391,2241826,2286908,2309544,2316750,2.037585e+10,1.971698e+10,1.948527e+10,1.957627e+10,2.090323e+10,2.255046e+10,2.543433e+10,2.862886e+10
4,"Phoenix , Arizona",Phoenix,AZ,1445632,1469796,1499274,1526491,1555445,1583690,1612199,1633560,7.802805e+09,7.772033e+09,7.589138e+09,7.396678e+09,7.444988e+09,7.722396e+09,8.544019e+09,9.839820e+09

In [ ]:
cities_pd = cities_pd.sort_values("Humidity",ascending = False)
cities_pd.head()